body {
background-color: 	rgb(185, 74, 212);
    font-family:'Gill Sans', 'Gill Sans M T', Calibri, 'Trebuchet MS', sans-serif
}

h1{
    color: rgb(10, 9, 9);
}
th{
    background-color: 	 #f30b64;
}
table{
    margin-left: 180px;
    
}
img{
margin:15px 15px 15px 15px;
}
titulo1{
    font-family: 'GoldenStateJF', sans-serif;                                                                
        font-size: 50px;
        color: rgb(255, 255, 255);
        text-align: center;    
}            